## Removing unanswered questions:

In [1]:
import pandas as pd
path = '../Dataset/pythonquestions/Answers.csv'
answers_df = pd.read_csv(path)
answers_df.head()

,Id,OwnerUserId,CreationDate,ParentId,Score,Body
0,497,50.0,2008-08-02T16:56:53Z,469,4,<p>open up a terminal (Applications-&gt;Utilit...
1,518,153.0,2008-08-02T17:42:28Z,469,2,<p>I haven't been able to find anything that d...
2,536,161.0,2008-08-02T18:49:07Z,502,9,<p>You can use ImageMagick's convert utility f...
3,538,156.0,2008-08-02T18:56:56Z,535,23,<p>One possibility is Hudson. It's written in...
4,541,157.0,2008-08-02T19:06:40Z,535,20,"<p>We run <a href=""http://buildbot.net/trac"">B..."

In [2]:
path = '../Dataset/pythonquestions/Questions.csv'
questions_df = pd.read_csv(path)
questions_df.head()

,Id,OwnerUserId,CreationDate,Score,Title,Body
0,469,147.0,2008-08-02T15:11:16Z,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
1,502,147.0,2008-08-02T17:01:58Z,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...
2,535,154.0,2008-08-02T18:43:54Z,40,Continuous Integration System for a Python Cod...,<p>I'm starting work on a hobby project with a...
3,594,116.0,2008-08-03T01:15:08Z,25,cx_Oracle: How do I iterate over a result set?,<p>There are several ways to iterate over a re...
4,683,199.0,2008-08-03T13:19:16Z,28,Using 'in' to match an attribute of Python obj...,<p>I don't remember whether I was dreaming or ...

In [3]:
answers_df.nunique()

Id              987122
OwnerUserId     149176
CreationDate    984054
ParentId        539238
Score              637
Body            986883
dtype: int64

In [4]:
questions_df.nunique()

Id              607282
OwnerUserId     213927
CreationDate    606068
Score              503
Title           606928
Body            607243
dtype: int64

So, there are a total of 607282 questions and 987122 answers. Finding out unanswered questions:

In [5]:
answers_df.sort_values('ParentId', inplace=True)
answers_df.head()

,Id,OwnerUserId,CreationDate,ParentId,Score,Body
0,497,50.0,2008-08-02T16:56:53Z,469,4,<p>open up a terminal (Applications-&gt;Utilit...
1,518,153.0,2008-08-02T17:42:28Z,469,2,<p>I haven't been able to find anything that d...
3003,195170,745.0,2008-10-12T07:02:40Z,469,1,<p>There must be a method in Cocoa to get a li...
38,3040,457.0,2008-08-06T03:01:23Z,469,12,<p>Unfortunately the only API that isn't depre...
2,536,161.0,2008-08-02T18:49:07Z,502,9,<p>You can use ImageMagick's convert utility f...

In [6]:
qIDs_withAnswers = set(answers_df['ParentId'].tolist())
print "qIDs with answers: ", len(qIDs_withAnswers)
total_qIDs = set(questions_df['Id'].tolist())
print "Total qIDs: ", len(total_qIDs)

qIDs with answers:  539238
Total qIDs:  607282

In [7]:
607282 - 539238

68044

Hence, there are 68,044 unanswered questions. Removing them now.

In [8]:
unanswered_qIDs = list(total_qIDs - qIDs_withAnswers)
print len(unanswered_qIDs)

68044

In [9]:
# REMOVING 'unanswered_qIDs' from the main 'questions_df'
clean_questions_df = questions_df[~questions_df['Id'].isin(unanswered_qIDs)]
clean_questions_df

,Id,OwnerUserId,CreationDate,Score,Title,Body
0,469,147.0,2008-08-02T15:11:16Z,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
1,502,147.0,2008-08-02T17:01:58Z,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...
2,535,154.0,2008-08-02T18:43:54Z,40,Continuous Integration System for a Python Cod...,<p>I'm starting work on a hobby project with a...
3,594,116.0,2008-08-03T01:15:08Z,25,cx_Oracle: How do I iterate over a result set?,<p>There are several ways to iterate over a re...
4,683,199.0,2008-08-03T13:19:16Z,28,Using 'in' to match an attribute of Python obj...,<p>I don't remember whether I was dreaming or ...
5,742,189.0,2008-08-03T15:55:28Z,30,Class views in Django,"<p><a href=""http://www.djangoproject.com/"">Dja..."
6,766,1384652.0,2008-08-03T17:44:07Z,20,Python and MySQL,<p>I can get Python to work with Postgresql bu...
7,773,207.0,2008-08-03T18:27:09Z,256,How do I use Python's itertools.groupby()?,<p>I haven't been able to find an understandab...
8,972,145.0,2008-08-04T02:17:51Z,364,Adding a Method to an Existing Object Instance,<p>I've read that it is possible to add a meth...
9,1476,92.0,2008-08-04T18:20:36Z,251,How do you express binary literals in Python?,<p>How do you express an integer as a binary n...
10,1734,59.0,2008-08-05T00:12:55Z,20,Any experiences with Protocol Buffers?,<p>I was just looking through some information...
11,1829,30.0,2008-08-05T02:39:23Z,12,How do I make a menu that does not require the...,<p>I've got a menu in Python. That part was ea...
12,1854,116.0,2008-08-05T03:23:18Z,270,How to check what OS am I running on in Python?,<p>What do I need to look at to see if I'm on ...
13,1983,116.0,2008-08-05T07:18:55Z,31,"Python: what is the difference between (1,2,3)...","<p>In many places, <code>(1,2,3)</code> and <c..."
14,2311,394.0,2008-08-05T13:40:47Z,26,File size differences after copying a file to ...,<p>I have created a PHP-script to update a web...
15,2933,1384652.0,2008-08-05T22:26:00Z,171,How can I create a directly-executable cross-p...,<p>Python works on multiple platforms and can ...
16,3061,121.0,2008-08-06T03:36:08Z,761,Calling a function of a module from a string w...,<p>What is the best way to go about calling a ...
17,3976,556.0,2008-08-06T21:00:01Z,12,Programmatically talking to a Serial Port in O...,<p>I have a Prolite LED sign that I like to se...
18,4942,1384652.0,2008-08-07T16:43:21Z,5,How to sell Python to a client/boss/person wit...,<p>When asked to create system XYZ and you ask...
19,5102,556.0,2008-08-07T18:24:12Z,14,How do you set up Python scripts to work in Ap...,<p>I tried to follow a couple of googled up tu...
20,5136,676.0,2008-08-07T18:47:58Z,6,Does anyone have experience creating a shared ...,<p>A researcher has created a small simulation...
21,5313,680.0,2008-08-07T21:07:24Z,11,"Cross Platform, Language Agnostic GUI Markup L...",<p>I learned Swing back in the day but now I'v...
22,5415,680.0,2008-08-07T22:24:27Z,21,Convert Bytes to Floating Point Numbers in Python,<p>I have a binary file that I have to parse a...
23,5419,207.0,2008-08-07T22:26:58Z,72,"Python, Unicode, and the Windows console",<p>When I try to print a Unicode string in a W...
24,5909,394.0,2008-08-08T13:35:19Z,28,Get size of a file before downloading in Python,<p>I'm downloading an entire directory from a ...
25,5966,745.0,2008-08-08T14:05:45Z,10,Best way to abstract season/show/episode data,"<p>Basically, I've written an API to www.thetv..."
26,8154,736.0,2008-08-11T19:59:32Z,10,Pylons error - 'MySQL server has gone away',<p>[I hope this isn't too obscure&hellip; I'll...
27,8692,NaN,2008-08-12T11:28:36Z,164,How to use Xpath in Python?,<p>What is the library? Is there a full implem...
28,8948,145.0,2008-08-12T15:16:00Z,81,Accessing mp3 Meta-Data with Python,<p>What is the best way to retrieve mp3 metada...
29,10123,742.0,2008-08-13T17:46:41Z,8,How do I treat an integer as an array of bytes...,<p>I'm trying to decode the result of the Pyth...
...,...,...,...,...,...,...
607213,40141705,2695332.0,2016-10-19T21:19:34Z,0,Design: Google OAuth using AngularJS and Flask,<p>I am building a web application using Angul...
607217,40141729,1107049.0,2016-10-19T21:22:00Z,0,Sending Function as Argument to Another Function,<p>I have came across this logic:</p>\n\n<pre>...
607219,40141753,4621508.0,2016-10-19T21:23:57Z,0,Getting combinations back from memoized subset...,<p>I've been working on a pretty basic subset ...
607221,40141828,1230911.0,2016-10-19T21:30:25Z,0,Django ImportError No module named x.settings,<p>I have the following structure:</p>\n\n<pre...
607222,40141856,512652.0,2016-10-19T21:31:52Z,2,How can I manipulate strings in a slice of a p...,<p>I have a <code>MultiIndex</code> like this:...
607225,40141881,2336654.0,2016-10-19T21:34:18Z,4,pandas groupby transform behaving differently ...,<p>consider the <code>df</code></p>\n\n<pre><c...
607226,40141895,2201603.0,2016-10-19T21:35:05Z,1,How to do a substring using pandas or numpy,<p>I'm trying to do a substring on data from c...
607229,40142004,3965778.0,2016-10-19T21:43:45Z,1,Efficiently summing outer product for 1D NumPy...,<p>I have a function of the form</p>\n\n<p><a ...
607230,40142024,1290147.0,2016-10-19T21:44:57Z,1,Pandas df to dictionary with values as python ...,<p>I have a pandas df containing 'features' fo...
607234,40142166,7044761.0,2016-10-19T21:56:19Z,-1,"How to fix ""TypeError: len() of unsized object""",<p>I am getting:</p>\n\n<p><strong>TypeError: ...
607235,40142194,7044759.0,2016-10-19T21:58:32Z,1,errors with webdriver.Firefox() with selenium,"<p>I am using python 3.5, firefox 45 (also tri..."
607236,40142236,7044735.0,2016-10-19T22:01:05Z,-3,Numbers separated by spaces in txt file into p...,<p>I am trying to convert a txt file containin...
607238,40142259,6273496.0,2016-10-19T22:02:40Z,0,Build a single list of element from bi-dimensi...,<p>I'm totally noob to python so please forgiv...
607241,40142302,1107049.0,2016-10-19T22:05:58Z,1,Why to use Lambda to send Function as Argument...,<p>While digging into <code>lambda</code> I de...
607246,40142380,4495740.0,2016-10-19T22:13:40Z,0,How to split files according to a field and ed...,<p>I am not sure if I can do this using unix c...
607248,40142476,6661072.0,2016-10-19T22:21:57Z,1,Recursive functions : Inversing word,<p>I'm trying to make a simple function that i...
607249,40142494,6930377.0,2016-10-19T22:23:40Z,1,Sorting list with dictionaries values(Maximum ...,<p>I have an array with loads of dictionaries ...
607250,40142538,5992039.0,2016-10-19T22:28:03Z,0,Scrapy spider for JSON response is giving me e...,<pre><code>import json\nimport scrapy\n\nclass...
607254,40142646,4808466.0,2016-10-19T22:38:43Z,0,Django choices and dictionary,<p>I have code</p>\n\n<pre><code>JOBS = 1\nCAT...
607256,40142686,4150912.0,2016-10-19T22:42:47Z,1,converting non-numeric to numeric value using ...,<p>I am a machine learning beginner and wan't ...
607258,40142731,6875348.0,2016-10-19T22:46:59Z,0,Collision Between two sprites - Python 3.5.2,<p>I have an image of a ufo and a missile. I'm...
607260,40142752,6934489.0,2016-10-19T22:49:06Z,0,How to do curvefitting using scipy.optimize.cu...,<p>I am quite new to Python. I wanted to do a ...
607262,40142804,6902762.0,2016-10-19T22:54:26Z,0,Python Array Reshaping Issue to Array with Sha...,<p>I have this error and I'm not sure how do I...
607263,40142811,2679662.0,2016-10-19T22:55:05Z,2,Different result for String and Integers using...,<p><strong>EDIT:</strong>\nAs @Alfe suggested ...
607265,40142901,7044936.0,2016-10-19T23:05:07Z,-2,Restarting a function in Python 3.4,<p>I need help for my python assignment. We ha...
607266,40142906,7044946.0,2016-10-19T23:05:34Z,2,can't assign to function call Error-Python,<p>So I'm working on a project to create a pos...
607268,40142948,4307777.0,2016-10-19T23:09:22Z,-2,How do you make it so that a function returns ...,<p>Basically I have a tuple which has 5 tuples...
607272,40143133,6273496.0,2016-10-19T23:29:37Z,1,error handling with BeautifulSoup when scraped...,<p>I'm totally noob to python so please forgiv...
607275,40143166,7044992.0,2016-10-19T23:33:31Z,1,finding cubed root using delta and epsilon in ...,<p>I am trying to write a program that finds c...
607277,40143190,333403.0,2016-10-19T23:36:01Z,1,How to execute multiline python code from a ba...,<p>I need to extend a shell script (bash). As ...

In [10]:
# Another way to do the same thing:
blah_df = questions_df[questions_df['Id'].isin(qIDs_withAnswers)]
# Check if both are equal:
print blah_df.equals(clean_questions_df)

True

In [11]:
# Final check: everything in clean_questions_df should be in answers_df, and vice-versa.
print set(clean_questions_df['Id'].tolist()) - set(answers_df['ParentId'])
print set(answers_df['ParentId'].tolist()) - set(clean_questions_df['Id'])

set([])
set([])

In [12]:
# Writing it to a CSV
clean_questions_df.to_csv('../Dataset/pythonquestions/cleanQuestions.csv', index=False)

## Now, labelling the dataset with "BestAnswer/NonBestAnswer"

In [13]:
answers_df.head(10)

,Id,OwnerUserId,CreationDate,ParentId,Score,Body
0,497,50.0,2008-08-02T16:56:53Z,469,4,<p>open up a terminal (Applications-&gt;Utilit...
1,518,153.0,2008-08-02T17:42:28Z,469,2,<p>I haven't been able to find anything that d...
3003,195170,745.0,2008-10-12T07:02:40Z,469,1,<p>There must be a method in Cocoa to get a li...
38,3040,457.0,2008-08-06T03:01:23Z,469,12,<p>Unfortunately the only API that isn't depre...
2,536,161.0,2008-08-02T18:49:07Z,502,9,<p>You can use ImageMagick's convert utility f...
70,7090,13.0,2008-08-10T08:08:33Z,502,25,<p>ImageMagick delegates the PDF->bitmap conve...
69,7073,878.0,2008-08-10T07:10:19Z,502,2,<p>Is the PC likely to have Acrobat installed?...
3,538,156.0,2008-08-02T18:56:56Z,535,23,<p>One possibility is Hudson. It's written in...
4,541,157.0,2008-08-02T19:06:40Z,535,20,"<p>We run <a href=""http://buildbot.net/trac"">B..."
709,61746,6372.0,2008-09-15T00:11:21Z,535,13,<p>We use both Buildbot and Hudson for Jython ...

In [14]:
# answers_df.sort_values(['ParentId','Score'], ascending=[True, False], inplace=True)

In [15]:
idx = answers_df.groupby(['ParentId'])['Score'].transform(max) == answers_df['Score']
idx

0         False
1         False
3003      False
38         True
2         False
70         True
69        False
3          True
4         False
709       False
6         False
926       False
1576      False
197542    False
1773      False
203       False
5          True
112050    False
10        False
8         False
7         False
642        True
9         False
245       False
244       False
77        False
273        True
11        False
1746      False
42        False
          ...
987082     True
987077    False
987080     True
987075     True
987086     True
987107     True
987110    False
987085     True
987084    False
987089    False
987087     True
987121     True
987094    False
987102    False
987099     True
987103     True
987101     True
987115     True
987095     True
987096     True
987098    False
987100     True
987109     True
987117    False
987104     True
987111     True
987114     True
987118     True
987113     True
987116    False
Name: Score, Length: 987122, dtype: bool

In [16]:
bestAnswer_df = answers_df[idx]
bestAnswer_df.head(10)

,Id,OwnerUserId,CreationDate,ParentId,Score,Body
38,3040,457.0,2008-08-06T03:01:23Z,469,12,<p>Unfortunately the only API that isn't depre...
70,7090,13.0,2008-08-10T08:08:33Z,502,25,<p>ImageMagick delegates the PDF->bitmap conve...
3,538,156.0,2008-08-02T18:56:56Z,535,23,<p>One possibility is Hudson. It's written in...
5,595,116.0,2008-08-03T01:17:36Z,594,25,<p>The canonical way is to use the built-in cu...
642,57833,4702.0,2008-09-11T22:42:14Z,683,29,<p>Using a list comprehension would build a te...
273,33957,3207.0,2008-08-29T04:29:22Z,742,36,<p>I've created and used my own generic view c...
20,1619,92.0,2008-08-04T21:54:11Z,766,17,<p>MySQLdb is what I have used before.</p>\r\n...
71,7286,207.0,2008-08-10T18:45:32Z,773,394,"<p>As Sebastjan said, <strong>you first have t..."
37,2982,99.0,2008-08-06T00:33:35Z,972,576,"<p>In Python, there is a difference between fu..."
103,13107,1531.0,2008-08-16T12:35:36Z,1476,204,<p>For reference&mdash;<em>future</em> Python ...

In [17]:
bestAnswer_df.nunique()

Id              614567
OwnerUserId     100735
CreationDate    613401
ParentId        539238
Score              589
Body            614517
dtype: int64

In [18]:
clean_questions_df.nunique()

Id              539238
OwnerUserId     192929
CreationDate    538339
Score              503
Title           538918
Body            539215
dtype: int64

Currently, we have 614567 best answers and 539238 questions which is not possible. This is due to answers (for the same question) having the same number of upvotes. Removing duplicates:

In [19]:
len(set(bestAnswer_df['ParentId'].tolist())) # set() should have the same number: 539238

539238

In [20]:
# Remove duplicates:
bestAnswer_df.drop_duplicates(subset='ParentId', keep="last", inplace=True)
bestAnswer_df.head()

/Users/sunyambagga/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Id,OwnerUserId,CreationDate,ParentId,Score,Body
38,3040,457.0,2008-08-06T03:01:23Z,469,12,<p>Unfortunately the only API that isn't depre...
70,7090,13.0,2008-08-10T08:08:33Z,502,25,<p>ImageMagick delegates the PDF->bitmap conve...
3,538,156.0,2008-08-02T18:56:56Z,535,23,<p>One possibility is Hudson. It's written in...
5,595,116.0,2008-08-03T01:17:36Z,594,25,<p>The canonical way is to use the built-in cu...
642,57833,4702.0,2008-09-11T22:42:14Z,683,29,<p>Using a list comprehension would build a te...

In [21]:
bestAnswer_ids = set(bestAnswer_df['Id'].tolist())
bestAnswer_df.nunique()

Id              539238
OwnerUserId      91333
CreationDate    538410
ParentId        539238
Score              589
Body            539200
dtype: int64

In [22]:
nonBestAnswer_ids = set(answers_df['Id'].tolist()) - bestAnswer_ids
nonBestAnswer_ids

{12080992,
 11534342,
 9437192,
 9437193,
 33554449,
 9437202,
 38972078,
 12582937,
 16777244,
 5941936,
 22020130,
 2097190,
 5941937,
 2097197,
 27263024,
 27263025,
 37748786,
 30408755,
 19922997,
 31457335,
 29360185,
 3145790,
 13631556,
 35651653,
 36700230,
 28311625,
 30408779,
 3145804,
 36700237,
 19923023,
 2097234,
 39845975,
 4194392,
 9437273,
 19923034,
 11534427,
 30583482,
 14680161,
 1048674,
 27263075,
 14680165,
 35651686,
 1048685,
 12583023,
 33903976,
 26214516,
 1048693,
 30408825,
 1048702,
 36700288,
 28311683,
 28311685,
 3145862,
 1048714,
 39846029,
 10485907,
 524313,
 14680216,
 31457435,
 1048732,
 14680225,
 5243043,
 1048740,
 24117413,
 15728807,
 21146311,
 17825964,
 17825966,
 35651761,
 1048754,
 13631667,
 7514825,
 16777400,
 3145913,
 8388795,
 3145917,
 3145918,
 17825993,
 7340234,
 30408910,
 24117456,
 32960864,
 36700370,
 7340245,
 3145944,
 13631706,
 29360347,
 28311773,
 22020321,
 1048802,
 23068899,
 27263204,
 32506088,
 29705080,
 29360368,
 3145969,
 10486003,
 38797557,
 31981609,
 4194553,
 29534933,
 15728899,
 7340294,
 23068936,
 32506122,
 27263244,
 27263250,
 35651859,
 11534613,
 20844958,
 35516491,
 18874648,
 13631770,
 38797597,
 22369669,
 28311843,
 38797605,
 35651879,
 14680363,
 5242930,
 38797614,
 4194608,
 38797617,
 35651890,
 31981619,
 27263286,
 17651081,
 29360440,
 33554745,
 18874685,
 35127350,
 33554761,
 23767778,
 4194638,
 8213902,
 37749078,
 29360471,
 4543887,
 34603357,
 39846239,
 38797664,
 29360481,
 2097511,
 36700522,
 16427751,
 15029650,
 32506223,
 29534952,
 19223955,
 34603380,
 30409085,
 28311937,
 4194690,
 9437576,
 30409103,
 24117649,
 38972142,
 34603419,
 9437596,
 22020165,
 34603425,
 16777634,
 16252998,
 12583337,
 4718663,
 25166253,
 2097582,
 10486191,
 39846321,
 23069106,
 27263411,
 16777652,
 11534773,
 13631927,
 8389050,
 19223967,
 31457724,
 9437629,
 14680513,
 5767243,
 37749190,
 21321121,
 32506312,
 12058700,
 11534794,
 12408226,
 28312015,
 11534803,
 23069140,
 3146197,
 11534810,
 32506331,
 23069150,
 33554911,
 39846368,
 34603491,
 23069158,
 699132,
 497,
 38797819,
 2097660,
 19923457,
 33379755,
 518,
 35651671,
 27263500,
 12233474,
 22020622,
 23069201,
 16427779,
 39671214,
 536,
 541,
 15729183,
 19923488,
 3145819,
 10486308,
 19923495,
 19923496,
 32680711,
 17826348,
 21648039,
 27263534,
 28312111,
 30409267,
 6292024,
 35652153,
 33555004,
 8389182,
 24117824,
 27263553,
 28312131,
 14680646,
 14680647,
 19923529,
 39321698,
 26214991,
 39846480,
 16777809,
 28312154,
 30409308,
 28312157,
 7340641,
 36001211,
 4194916,
 6292073,
 24117866,
 12583531,
 20972141,
 3146352,
 28312177,
 38797940,
 35652215,
 33555069,
 33555071,
 28312195,
 28312196,
 10339307,
 20972169,
 31457931,
 31457932,
 28835949,
 660,
 13282073,
 24117914,
 14680731,
 9437855,
 20972193,
 30409378,
 9437859,
 37749413,
 35652262,
 35127410,
 39846575,
 31457969,
 24117938,
 9437875,
 1922505,
 27263673,
 31457978,
 701,
 33555135,
 26215105,
 23942603,
 37749445,
 14680776,
 36700874,
 27088333,
 1747747,
 19923668,
 31458009,
 23069402,
 28312283,
 735,
 12583649,
 38798051,
 745,
 11184935,
 10486509,
 750,
 30409455,
 5243633,
 37441055,
 29010729,
 33555192,
 9437946,
 12583675,
 764,
 39846655,
 30409473,
 30409477,
 777,
 26215178,
 783,
 7340820,
 33555222,
 19923737,
 2097946,
 25166623,
 802,
 10486563,
 12583716,
 39846695,
 29360937,
 11535148,
 25865010,
 29360942,
 31458096,
 35652401,
 25166644,
 34603829,
 31458102,
 14399337,
 29071013,
 31319825,
 29360958,
 37399350,
 5243719,
 1049416,
 31458121,
 35652436,
 36701015,
 33555294,
 39846752,
 27263842,
 5243748,
 26215271,
 17826664,
 39846761,
 31458154,
 3146603,
 25166701,
 37749614,
 15729521,
 10486643,
 27263860,
 13632373,
 20972407,
 2098040,
 12583804,
 25166719,
 3146633,
 16778128,
 32506771,
 33555348,
 10486678,
 11501315,
 5243803,
 39846813,
 17826720,
 35652513,
 6292386,
 28312484,
 27263910,
 30409646,
 2098097,
 2098099,
 12583860,
 2098102,
 27263928,
 33555385,
 37749691,
 22021053,
 25166784,
 31981728,
 33379830,
 10486728,
 8389577,
 26215370,
 5243851,
 22021070,
 36701136,
 10311160,
 18000718,
 982,
 984,
 24118235,
 36701148,
 2098142,
 10486752,
 31458273,
 37749733,
 39846886,
 25166823,
 873980,
 31458282,
 33555435,
 28312557,
 8389614,
 25166831,
 16778226,
 38798324,
 23069685,
 4195322,
 20796927,
 21124312,
 28312574,
 20972545,
 38798340,
 37574145,
 11535373,
 31458318,
 29361167,
 25388075,
 19923989,
 37749782,
 36701210,
 22021147,
 7088016,
 15729700,
 29361190,
 20447409,
 31458351,
 31458354,
 29361205,
 18875447,
 2098235,
 36701244,
 14155957,
 12584001,
 12584003,
 27264069,
 8389702,
 2098251,
 33555534,
 2446861,
 30408888,
 24118355,
 39846996,
 29361237,
 35302244,
 39847003,
 17826909,
 24816485,
 12584033,
 27264098,
 2098275,
 22021220,
 36701285,
 2863114,
 12584040,
 13632619,
 13632621,
 34078909,
 25166960,
 19924081,
 29361266,
 5244019,
 33555572,
 24118389,
 2098295,
 8389754,
 7341179,
 16778365,
 33181869,
 7341190,
 24118409,
 23069834,
 20972684,
 2098320,
 28312721,
 20972692,
 38268153,
 39847069,
 20972702,
 33555615,
 19924129,
 28312739,
 5244070,
 18000753,
 28312747,
 29361324,
 39847087,
 30377101,
 31458481,
 5244083,
 28312756,
 31458486,
 22765378,
 4019744,
 1049799,
 35652808,
 20447436,
 29361354,
 26215629,
 36701390,
 26215632,
 3145934,
 23069914,
 33555679,
 35652832,
 4195555,
 6292710,
 4195560,
 27264233,
 1990263,
 7515006,
 16602665,
 16778489,
 2098428,
 18350293,
 36701440,
 31458561,
 12584197,
 12584198,
 33555720,
 4195596,
 1398317,
 8913112,
 39847186,
 20622211,
 25167129,
 32507162,
 21845551,
 24992827,
 3145947,
 18875684,
 37049906,
 10487087,
 25515571,
 6180205,
 22021433,
 4195650,
 5244229,
 30410056,
 25167178,
 36701517,
 37750094,
 14680291,
 8389975,
 2098521,
 31458650,
 9262650,
 19924320,
 36701537,
 16778596,
 36701541,
 19924326,
 2098542,
 2098543,
 11535732,
 27264373,
 26215800,
 36701561,
 7341437,
 2098560,
 27264385,
 2098572,
 2098574,
 30410128,
 36701587,
 28312980,
 5244314,
 29361573,
 34604457,
 4195758,
 20972975,
 10474897,
 30410162,
 39847350,
 20972983,
 39847354,
 27264444,
 8390077,
 6292926,
 38798785,
 31458754,
 1478,
 1479,
 22021577,
 4195786,
 4195787,
 1484,
 35653070,
 37750223,
 7341521,
 18875862,
 35651833,
 33555929,
 2098654,
 30410207,
 13632992,
 2098657,
 38273275,
 28313060,
 4195819,
 35991356,
 175016,
 28313075,
 10487291,
 16778749,
 30410246,
 10487306,
 24118796,
 2098703,
 33555985,
 9438739,
 2098709,
 28313111,
 1050136,
 1050139,
 11359834,
 14681630,
 16778783,
 36701728,
 25865136,
 22894171,
 30410277,
 11709361,
 10487336,
 2098729,
 16778794,
 22021677,
 32507441,
 27264571,
 25167421,
 18875966,
 19924543,
 8798926,
 33556033,
 10487363,
 25167429,
 12786226,
 32507465,
 8390219,
 1050190,
 2098768,
 10487383,
 13633114,
 16602725,
 30410338,
 16778856,
 5244523,
 524562,
 36701806,
 16778867,
 25167479,
 11535992,
 19924601,
 26389439,
 33556096,
 27264647,
 31458955,
 34604684,
 10660802,
 19924625,
 20973205,
 34604695,
 27264664,
 5244571,
 30410396,
 524570,
 38799008,
 17108976,
 2098857,
 36701867,
 33556141,
 12584622,
 24118959,
 14681777,
 26047514,
 26216115,
 35653304,
 29224885,
 13633210,
 22020383,
 39280740,
 31459015,
 7341773,
 34604752,
 31459025,
 10487515,
 27264732,
 37750497,
 12584675,
 12584679,
 38098556,
 29022137,
 33556208,
 19924722,
 1780,
 14681846,
 27264761,
 9438971,
 29361923,
 25167620,
 9438985,
 26216202,
 29361932,
 27264782,
 31632344,
 33556243,
 23070489,
 12584730,
 27264795,
 23070492,
 28313374,
 22894213,
 33554736,
 10487586,
 2272219,
 21845638,
 32507687,
 7341864,
 22894215,
 35653422,
 31459119,
 38799154,
 27264824,
 27264827,
 1852,
 25167677,
 38622859,
 14681925,
 27264839,
 36702024,
 12584777,
 13633356,
 1870,
 1871,
 27264848,
 27612814,
 1879,
 11536220,
 1885,
 3945589,
 26216288,
 24991376,
 12584802,
 33556325,
 31459175,
 1050472,
 22681404,
 1398418,
 17827694,
 8039400,
 6293363,
 6293366,
 26216315,
 33556348,
 39847805,
 11536254,
 1922709,
 20973440,
 34604929,
 26216324,
 22022021,
 28313481,
 27264907,
 2099084,
 15730574,
 32680941,
 12584855,
 24991386,
 38799262,
 2099103,
 31632368,
 28313507,
 12058950,
 6293414,
 24816625,
 36702122,
 38799275,
 15730605,
 10487727,
 26216368,
 26913779,
 32507828,
 27264949,
 14682039,
 32507832,
 22022074,
 32507836,
 24119229,
 30796121,
 3147712,
 10487745,
 8390594,
 1987,
 12584900,
 38799301,
 31459270,
 6293448,
 26925774,
 8345029,
 9439183,
 6293456,
 34605011,
 18876374,
 175097,
 15730652,
 18876383,
 28313571,
 7689894,
 4196327,
 17827817,
 349229,
 34605044,
 10487798,
 12584952,
 4196345,
 18876410,
 33556478,
 10487807,
 37750789,
 16779270,
 35653639,
 17651373,
 20740269,
 19925012,
 32507934,
 33556516,
 2099238,
 3147821,
 15730737,
 15730745,
 20973626,
 19925051,
 6293566,
 12585023,
 7342144,
 6293571,
 34605125,
 1050694,
 7342152,
 10487881,
 39848010,
 23070795,
 4196429,
 2099278,
 4196432,
 18876497,
 33556565,
 4196438,
 18876503,
 4196441,
 4196443,
 9439324,
 15730781,
 12585054,
 3147871,
 5245024,
 30410853,
 39848039,
 29362280,
 4196457,
 30410858,
 10487917,
 10136596,
 16779386,
 28313723,
 30410877,
 22022272,
 36702339,
 20973703,
 15730825,
 27265162,
 38799505,
 11536531,
 12585120,
 4196515,
 39848100,
 28313766,
 39848104,
 4155097,
 9439406,
 28313775,
 2099376,
 25168053,
 7342262,
 30410936,
 39496735,
 3147966,
 19925183,
 4196544,
 20973762,
 35653827,
 6293702,
 2099400,
 22894284,
 12585163,
 15730896,
 23070929,
 1050835,
 33556693,
 32508120,
 39848155,
 12585180,
 22022376,
 18876650,
 30059559,
 16779500,
 20973805,
 1050862,
 26214781,
 22022388,
 16480505,
 12585213,
 16779519,
 7342336,
 5245186,
 8390915,
 38799620,
 17828101,
 28313862,
 39848201,
 8390922,
 2317,
 34605328,
 30411026,
 28313875,
 18876696,
 7342362,
 37751067,
 39848222,
 32508194,
 29362467,
 8390952,
 5245225,
 34605355,
 6293804,
 3148080,
 8390964,
 8390966,
 8390969,
 4196666,
 1696930,
 34605375,
 30411072,
 27265348,
 3148101,
 37751111,
 15731019,
 29710050,
 12585295,
 6990905,
 38799711,
 18876768,
 38303110,
 11536745,
 25139717,
 22022509,
 15731054,
 4196720,
 23071090,
 30411126,
 38799737,
 22870167,
 15731069,
 37751170,
 12585348,
 16779653,
 32508294,
 16779658,
 13633933,
 35654032,
 33556883,
 874222,
 20973976,
 20622404,
 11536794,
 33556892,
 14245876,
 36702627,
 22022564,
 1748038,
 32508328,
 3146140,
 15731116,
 5245358,
 24816712,
 9439671,
 25168313,
 19846234,
 14682555,
 3148220,
 36702653,
 18876865,
 22800337,
 3840861,
 ...}

In [23]:
len(nonBestAnswer_ids)

447884

In [24]:
447884 + 539238

987122

In [25]:
answers_df.nunique()

Id              987122
OwnerUserId     149176
CreationDate    984054
ParentId        539238
Score              637
Body            986883
dtype: int64

In [26]:
# Writing best answers to a 2-column CSV:
with open('../Dataset/pythonquestions/labeled_answerIDs.csv', 'wb') as f:
    f.write("Answer_ID,Label\n")
    
    for ID in bestAnswer_ids:
        f.write(str(ID)+","+"BestAnswer"+"\n")
        
    for ID in nonBestAnswer_ids:
        f.write(str(ID)+","+"Non_BestAnswer"+"\n")

In [27]:
temp_df = pd.read_csv('../Dataset/pythonquestions/labeled_answerIDs.csv')
temp_df

        Answer_ID           Label
0         5242883      BestAnswer
1        31457284      BestAnswer
2        33344935      BestAnswer
3         7716472      BestAnswer
4        20971530      BestAnswer
5        35651595      BestAnswer
6         7340044      BestAnswer
7        15728656      BestAnswer
8        19922963      BestAnswer
9        14854830      BestAnswer
10       35651608      BestAnswer
11       32505860      BestAnswer
12       39001354      BestAnswer
13        3145756      BestAnswer
14       36382642      BestAnswer
15       12582945      BestAnswer
16       28311587      BestAnswer
17       23068709      BestAnswer
18        7340071      BestAnswer
19       26214440      BestAnswer
20       16777257      BestAnswer
21       34603051      BestAnswer
22       10485804      BestAnswer
23       34777778      BestAnswer
24        7689565      BestAnswer
25       37748785      BestAnswer
26       26214450      BestAnswer
27       34603061      BestAnswer
28       30408761      BestAnswer
29       33554490      BestAnswer
...           ...             ...
987092   37748675  Non_BestAnswer
987093   25837958  Non_BestAnswer
987094   38797255  Non_BestAnswer
987095   14233131  Non_BestAnswer
987096    4019532  Non_BestAnswer
987097    3145675  Non_BestAnswer
987098   35651532  Non_BestAnswer
987099   32331085  Non_BestAnswer
987100   27234429  Non_BestAnswer
987101   19922897  Non_BestAnswer
987102   25165778  Non_BestAnswer
987103   26214356  Non_BestAnswer
987104   35651543  Non_BestAnswer
987105   35651545  Non_BestAnswer
987106   17825754  Non_BestAnswer
987107   11534299  Non_BestAnswer
987108    7339997  Non_BestAnswer
987109     699045  Non_BestAnswer
987110   12297392  Non_BestAnswer
987111   11534308  Non_BestAnswer
987112    5242855  Non_BestAnswer
987113    1048557  Non_BestAnswer
987114   24117231  Non_BestAnswer
987115    1048564  Non_BestAnswer
987116   31457269  Non_BestAnswer
987117    5242873  Non_BestAnswer
987118   16696800  Non_BestAnswer
987119    3145724  Non_BestAnswer
987120    2097149  Non_BestAnswer
987121   12582911  Non_BestAnswer

[987122 rows x 2 columns]

In [28]:
ba = temp_df[temp_df['Label'] == 'BestAnswer']
ba.nunique()

Answer_ID    539238
Label             1
dtype: int64

In [29]:
nba = temp_df[temp_df['Label'] == 'Non_BestAnswer']
nba.nunique()

Answer_ID    447884
Label             1
dtype: int64

In [30]:
# Code to retrieve all columns given only answer IDs:
#answers_df[answers_df['Id'].isin(list(nonBestAnswer_ids))]